.header-nav__link {
  color: var(--accent-color);
  list-style: none;
  text-decoration: none;
}
.menu-link {
  list-style: none;
  text-decoration: none;
  color: var(--header-color);
  position: relative;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: var(--accent-color);
}
}
.current {
  color: var(--accent-color);

  &::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    left: 0;
    bottom: -32px;
    background-color: var(--accent-color);
  }
}

